.nav-link {
    padding: 0 0 16px !important;
    color: #74767e;
}
.footer_title {
    font-size: 16px;
}

.footer-subtext {
    font-size: 14px;
    color: #b5b6ba;
}

svg {
    fill: #74767e;
}

.footer_btn {
    margin: 0 20px;
}
